#ds-solution-run,
#ds-solution-verify {
  display: none ;
}

#ds-solution-submit{
background-color: rgb(63,81,181);
color: rgb(	(255,255,255));
}

#ds-solution-submit * {
  display:none;
}

#ds-solution-submit:after{
  content : "Run & Submit";
}
